* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
}

body {
    background-color: black;
    color: white;
}

button {
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* !HEADER */
.header {
    background-color: black;
    padding: 24px;
    position: relative;
}

#title {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.125rem;

    /* !Can't see */
    /* text-shadow: 0 2px 4px rgba(255, 255, 255, 0.2); */
}

#title a {
    text-decoration: none;
    color: #6bb5e6;
    text-shadow: #6bb5e6 0 0 6px;
}

.sign_log_in {
    position: absolute;
    top: 16px;
    right: 24px;
}

.sign_log_in button {
    cursor: pointer;
    padding: 8px;
    font-size: 1rem;
    border-radius: 16px;
    border: 1px solid #4b4b4b;
    color: #afd4f1;
    background-color: #3f3f3f;
}

.sign_log_in button:hover, .favourite button:hover {
    background-color: #5d6164;
    border-color: #757a7e;
}

/* login & prev */
#login, #prev {
    margin-left: 4px;
}

#logo img {
    position: absolute;
    top: 16px;
    left: 32px;
    height: 5em;
    width: auto;
    object-fit: contain;
    border-radius: 24px;
    border: #3f3f3f solid 2px;
}

/* !NAV */
.nav {
    display: flex;
    justify-content: space-between; /* filter to left, search to right */
    align-items: center;
    background-color: #3f3f3f;
    min-height: 4em;
}

.filter, .search {
    display: flex; 
    gap: 8px;
    padding: 0px 8px;
}

/* !Instead of wrapping, you can scroll, check*/
.filter {
    flex-wrap: nowrap;
    overflow: auto;  
    
    /* scroll */
    overflow-y: hidden;
}

.filter a {
    color: white;
    font-size: 1.15rem;
    text-decoration: none;
    padding: 16px 8px;   
    border-radius: 12px;    
}

.filter a:hover {
    background-color: #5d6164;
}

#search_box {
    padding: 0px 8px;
    border-radius: 16px;
    border: none;
    background-color: #282828;
    color: white;
    font-size: 0.9rem;
}

#icon-search-btn {
    margin-right: 8px;
    background-color: #282828;
    border: 1px solid #333;
    border-radius: 16px;
    padding: 8px;
    width: 2.75em;
    height: 2.75em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* search icon, next, prev, random */
#icon-search-btn:hover, #random:hover, #prev:hover, #next:hover {
    background-color: #2e3438;
    border-color: #555;
}
  
#icon-search-btn svg {
    stroke: #9acaed;
    width: 1.5em;
    height: 1.5em;
}

/* !GRID */
.grid_container {
    display: grid;

    /* Style container */
    padding: 24px 32px;

    /* Grid */
    /* no need to grow, causes sizing issues */
    grid-template-columns: repeat(auto-fit, 14.25em);
    gap: 24px;
    justify-content: center;
}

.card {
    height: 21.875em;
    background-color: #282828;
    border-radius: 16px;
    text-align: center;
    overflow: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    cursor: pointer;
}

/* Hover effect on card */
.card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 6px 16px rgba(255, 255, 255, 0.2);
}

/* Remove underline */
.card a {
    text-decoration: none;
}

/* Image */
.title_card {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

/* Favourite */
.favourite {
    position: absolute;
    bottom: 27%; 
    right: 6px;
    z-index: 1;
}
  
.favourite button {
    background-color: #3f3f3f;
    border: 1px solid #4b4b4b;
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    cursor: pointer;
    padding: 0;

    /* Center star */
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.favourite svg {
    width: 16px;
    height: 16px;
    stroke: #afd4f1;
}
  
.favourite.active svg {
    fill: #FFD700;
    stroke: #FFD700;
}

/* Title */
.anime_name {
    padding: 4px;
    color: white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

/* !NEXT_PREV_RANDOM */
.next_prev_button {
    display: flex;
    background-color: #3f3f3f;
    height: auto;
    padding: 8px 16px;
}

.next_prev_button div {
    width: 100%;
}

.next_prev_button button {
    cursor: pointer;
    padding: 8px;
    font-size: 1rem;
    border-radius: 16px;
    background-color: #282828;
    border: 1px solid #333;
    color: #afd4f1;
}

#random_button {
    display: flex;
    justify-content: center;
}

#next_prev {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    min-height: 10em;
    background-color: #282828;
    margin-top: 16px;
    padding: 16px 0px;
}

.footer div {
    display: flex;
    width: 100%;
}

#footer_logo {
    align-items: center;
    justify-content: center;
}

#footer_logo img {
    height: 8em;
    width: auto;
    object-fit: contain;
    border-radius: 24px;
    border: 2px #454a4d solid;
}

#social_media, #other_links {
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.footer a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.footer a:hover {
    color: #6bb5e6;
}